.pclass {
    text-align : center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 77px
}

.marginc {
    margin-top: 10px;
}

.home {
    font-size: 15px;
}

.navbarf {
    font-family: 'Raleway', sans-serif;
}
